body,
.app {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(139deg, rgba(52,46,150,0.8757878151260504) 0%, rgba(0,212,255,0.8785889355742297) 100%);
  
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: rgba(48, 72, 176, 0.56);
  max-width: 800px;
  height: 500px;
  border-radius: 30px;
  
}
.search-input {
  width: 100%;
  border: transparent;
  border-radius: 25px;
  margin: 8px 0;
  outline: none;
  padding: 6px 8px;
  box-sizing: border-box;
}
.side {
  background: linear-gradient(139deg, rgba(72,62,213,0.8757878151260504) 0%, rgba(0,206,247,0.8393732492997199) 100%);
  border-radius: 25px 0 0 25px;
  transition: transform 300ms ease;
  
}
.side:hover {
  transform: scale(1.1) perspective(1500px) rotateY(10deg);
}
.data-live {
  height: 100%;
}
